html {
    width: auto;
}

body {
	background-color: #000000;
    width: 100%;
}

/* Welcome view */

.welcome {
	height: 700px;
	background: #000000;
	color: #FFFFFF;
	font-size: 32px;
    text-align: center;
    margin-top: 200px;
}

.welcome h1 {
    text-align: center;
    width: 500px;
}

/* TODO: Log in */

/* Header Template */

.container-fluid {
    background: #000000;
}

.navbar-default {
    border-color: #000000;
}

/* Web app title */
.navbar-default .navbar-brand {
    font-size: 48px;
    margin-top: 20px;
    color: #FFFFFF;
}

/* Welcome message */
.navbar-default .navbar-nav > li {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 30px;
    margin-right: 30px;
}

/* Header and footer divider */
.featurette-divider {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

/* Blog divider */
.featurette-divider.blog-divider {
    margin-top: 75px;
    margin-bottom: 75px;
}

/* Clickable images in footer */
.img-circle {
    margin-top: 0;
    width: 100px;
    height: 100px;
    border-radius: 0;
    margin-right: auto;
    margin-left: auto;
}

/* Float footer images */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-12px);
    transform: translateY(-20px);
}

/* Individual footer blocks */
.col-lg-4 {
    margin-top: 20px;
    display: inline-block;
}

/* Footer template */
.row {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* Glyphicon titles */
.col-lg-4 h2 {
    font-size: 30px;
    color: #f7f7f7;
}

/* Sticky footer always visible, auto-overflows */
.footer {
    height: 250px;
    position: fixed;
    overflow: auto;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

/* Photo Album */

.photos,
.blog {
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 250px;
    padding-top: 120px;
}

h1 {
    font-size: 32px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.photos p {
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

.photos tr {
    display:inline-block;
    margin: 15px 15px;
}

/* Thumbnail of photo TODO: make responsive with modal popup displaying info */
.thumb {
    height: 300px;
    width: 300px;
    background-color: transparent;
    color: white;
}

/* Blog  */

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    color: #868686;
}

p {
    font-size: 18px;
}

/* View comments */
.comment {
    font-size: 18px;
    width: 150px;
    float: right;
    margin-right: 50px;
}
