<div class="welcome">
  <form name="adduser" novalidate ng-controller="FormCtrl">
    <h2>Welcome, guest! Please log in below.</h2>
    <div id="name-group" class="form-group-lg">
      <input type="text" required name="username" ng-model="username" class="form-control" placeholder="Username">
    </div>
    <div id="name-group" class="form-group-lg">
      <input type="text" required name="password" ng-model="password" class="form-control" placeholder="Password">
    </div>
    <div id="name-group" class="form-group-lg">
      <button type="submit" ng-click="login()" class="form-control btn btn-info">
        Log in
      </button>
    </div>
  </form>
</div>
