<footer class="footer container-fluid">
    <hr class="featurette-divider">
    <div class="row" align="center">
        <div class="col-lg-4">
            <a href="#/photos">
                <img class="img-circle hvr-float" src="../images/photos.png" alt="Photo icon">
            </a>
            <h2>Photos</h2>
        </div>
        <div class="col-lg-4">
            <a href="#/blog">
                <img class="img-circle hvr-float" src="../images/blog.png" alt="Blog icon">
            </a>
            <h2>Blog</h2>
        </div>
        <div class="col-lg-4">
            <a href="#/comments">
                <img class="img-circle hvr-float" src="../images/comment.png" alt="Comments icon">
            </a>
            <h2>Comments</h2>
        </div>
    </div>
</footer>
